::-webkit-scrollbar{  
  height: 8px;
}  
  
::-webkit-scrollbar-track{
  background-color: #f4f4f4;
}  

::-webkit-scrollbar-thumb{
  background-color: #cfcfcf;
}

h3{
	color:#607d8b;
	text-shadow: #e0e0e0 3px 2px 1px;
}

h5{
	color: #EE6E73;
}

body{
  margin: 4% 5% 5% 5%;
  min-width: 230px;
}

#palette{
  position: absolute;
}

#card1, #card2{
  padding-left:0px;
}

#colors, #bgs, #bg-color{
  max-height: 276.534px;
}

#buttonGroup{
  padding: 6px 12px 6px 12px;
}

.fix-margin{
  margin-bottom: 3.5px !important;
}

.statements{
  margin-bottom: 8px !important;
}

.btn-github i {
  background: rgba(0,0,0,0.075);
  display: inline-block;
  padding: 0 4px 0 8px;
  margin-right: 8px;
  border-radius: 5px 0 0 5px;
  line-height: 40px;
}

.btn-github{
  box-sizing: border-box;
  background:#0077B5;
  color: #FFF;
  display: inline-block;
  padding: 0;
  height: 40px;
  font-size: 13px;
  font-weight: 500;
  padding-right: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  font-family: "Whitney SSm A", "Whitney SSm B", "Avenir", "Segoe UI", "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  float: right;
}

.fa{
  font-size: 15px;
}

@media only screen and (max-width:600px) {
	.col{
    padding: 0 !important;
  }
}